.container{
    background-image:url(https://static.vecteezy.com/system/resources/previews/004/968/002/original/cute-abstract-modern-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border:solid 1px black;
    padding-bottom: 15px;
    width:50%;
    margin: 30px auto;
}

.form{
    margin-left: 15px;
}